MONGODB_URI="mongodb+srv://USER:PASSWORD@HOST/hostelwifi?retryWrites=true&w=majority"
APP_URL="http://localhost:3000"
ADMIN_BOOTSTRAP_EMAIL="admin@jendortheplug.com"
ADMIN_BOOTSTRAP_PASSWORD="change-this-password"
ADMIN_SESSION_SECRET="replace-with-a-long-random-secret"
EMAIL_FROM="Jendor The Plug <support@jendortheplug.com>"
RESEND_API_KEY=""
BANK_ACCOUNT_NUMBER="6141688034"
BANK_NAME="OPay"
BANK_ACCOUNT_NAME="OLADIMEJI FEMI ARIYO"
